.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project
/bin/
/Libs/
/.settings/
/.classpath
.svn/
.png
.jpg
Test Cases/TestXML.tc
Test Cases/SkusobnyTC.tc
Test Cases/To-Do
Scripts/To-Do
Scripts/TestXML
Scripts/SkusobnyTC